<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <div class="container-fluid"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="#" [routerLink]="['/ranges']">Ranges</a></li>
                <li class="nav-item"><a class="nav-link" href="#" [routerLink]="['/winners']">Winners</a></li>
            </ul>
        </div>
    </div>
</nav>